body{
  --main-bg-color: rgb(255, 255, 255);

  background-color: var(--main-bg-color);
  margin: 0;

}

.box{
  background-color: rgb(168, 111, 41);
  height: 90vh;
  width:100vw;
}

.box2{

  background-color: rgb(95, 133, 183);
  height: 50vh;
  width: 50vw;
  margin: auto;
  transform: translatey(50%);
 
  
  }
  .box2{
    display: flex;
    justify-content: center;
    
    
   

  }
  .navbar-brand{
    font-size: 2rem;
  
  }

 

.navbar-nav{
  text-align: end;
}


@media(max-width :500px ){
  .navbar-toggler{
    width: 30%;
    margin-left: 35%;
    justify-content: center;
    margin-top: 26%;
    position: relative;
    z-index: 1;
    
  }
  .box2{
    text-align: center;
  }
 

  .navbar-nav{
    text-align: center;
  }
  .navbar-brand{
    position: absolute;
    font-size:1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }


}